<footer class="page-footer" style="margin-top: 150px; height: 150px; ">
    <div class="container-fluid border-top">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12 d-flex flex-column align-items-center">
                <ul class="list-group list-group-horizontal copyright">
                    {% for item in site.social %}
                        <li class="list-group-item border-0"><a href="{{ item.url }}" target="_blank"><i class="fa fa-{{ item.icon }}"></i></a></li>
                    {% endfor %}
                </ul>
                <ul class="list-group list-group-horizontal" style="margin-top: 5px;">
                    {% for item in site.copyright %}
                        <li class="list-group-item border-0">{{ item.line }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</footer>
