#ubisoft {

  .carousel {
    height: 600px;
  }

  .carousel-item,
  .carousel-inner {
    height: 100%;
    width: auto;
  }

  .carousel-inner img {
    width: 100%;
    height: auto;
  }

  .carousel-item {
    text-align: center;
  }

  .chiffre {
    margin-top: 80px;
    & > .row {
      padding: 1em;
    }
  }

  .main-title {
    padding-top: 30px;
  }

  .text {
    padding-top: 50px;
    font-family: Raleway, Roboto, Helvetica, sans-serif;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.2rem;
  }

  .background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 60vh;
  }

  .ubisoft-style {
    padding-left: 60px;
    text-align: left;
  }

  .ubisoft {
    padding-top: 80px;
  }

  .title-surrounded {
    text-transform: uppercase;
    color: #442C24;
  }
}